<style>
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align: center;
  }

  .home-link {
    text-decoration: none;
    color: black;
  }
</style>
<div class="main">
  <a class="home-link" href="/">Назад</a>
  <h1>Edit Tag</h1>
  <%= render "form", tag: @tag %>
</div>
