<%= stylesheet_link_tag "show_tag", "data-turbo-track": "reload" %>
<div class="main">
  <a class="home-link" href="/">Назад</a>
  <div class="tag-block">
    <h3><%= @tag.name %></h3>
  </div>
</div>
