/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align: center;
  }
  .header-logo {
    width: 100px;
    margin-left: 25px;
  }
  .header-auth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align: center;
  }
  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align: center;
  }
  .header-menu-item {
    width: 100px;
    height: 30px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    text-decoration: underline;
  }
  .user-navigation {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align: center;
  }
  .button {
    cursor: pointer;
    margin: 10px 10px 10px 10px;
  }